result*
e2e/assets/installed/
e2e/tests-dfx/.bats/

# Building
build/
target/

# Nix-related directories.
.cargo-home/

# IDEs
.idea/
.vscode/
*~

# Mac Temporary Files
.DS_Store
**/.DS_Store

# Node Modules
**/node_modules/

# Environment Variables
.env

# Backup files
*.bak

# DB repo for cargo-audit
advisory-db/
