[workspace]
members = [
    "src/dfx",
]

[patch.crates-io.ic-agent]
version = "0.8.0"
git = "https://github.com/dfinity/agent-rs.git"
rev = "a36c9cdb9d64caf4e99836dd8a4fcfe764fea62c"

[patch.crates-io.ic-asset]
version = "0.3.0"
git = "https://github.com/dfinity/agent-rs.git"
rev = "a36c9cdb9d64caf4e99836dd8a4fcfe764fea62c"

[patch.crates-io.ic-identity-hsm]
version = "0.3.5"
git = "https://github.com/dfinity/agent-rs.git"
rev = "a36c9cdb9d64caf4e99836dd8a4fcfe764fea62c"

[patch.crates-io.ic-utils]
version = "0.6.0"
git = "https://github.com/dfinity/agent-rs.git"
rev = "a36c9cdb9d64caf4e99836dd8a4fcfe764fea62c"
