[workspace]
members = [
    "src/dfx",
    "src/canisters/frontend/ic-asset",
    "src/canisters/frontend/icx-asset",
    "src/canisters/frontend/ic-certified-assets",
    "src/canisters/frontend/ic-frontend-canister",
]
default-members = ["src/dfx"]

[patch.crates-io.ic-agent]
version = "0.20.0"
git = "https://github.com/dfinity/agent-rs.git"
rev = "2da883fc92eab3422c9b89bcec3966d06ddf0ae7"

[patch.crates-io.ic-asset]
version = "0.20.0"
path = "src/canisters/frontend/ic-asset"

[patch.crates-io.ic-identity-hsm]
version = "0.20.0"
git = "https://github.com/dfinity/agent-rs.git"
rev = "2da883fc92eab3422c9b89bcec3966d06ddf0ae7"

[patch.crates-io.ic-utils]
version = "0.20.0"
git = "https://github.com/dfinity/agent-rs.git"
rev = "2da883fc92eab3422c9b89bcec3966d06ddf0ae7"

[profile.release]
panic = 'abort'
lto = true

[profile.dev.package.argon2]
opt-level = 3

[profile.release.package.ic-frontend-canister]
opt-level = 'z'

