[workspace]
members = [
    "src/dfx",
]

[patch.crates-io.ic-agent]
version = "0.2.0"
git = "https://github.com/dfinity/agent-rs.git"
branch = "lwshang/switch_transport"
#rev = "8b8699d5ba757f9a9952a3a6ded9956df6b129b0"

[patch.crates-io.ic-identity-hsm]
version = "0.2.0"
git = "https://github.com/dfinity/agent-rs.git"
branch = "lwshang/switch_transport"
#rev = "8b8699d5ba757f9a9952a3a6ded9956df6b129b0"

[patch.crates-io.ic-types]
version = "0.1.2"
git = "https://github.com/dfinity/agent-rs.git"
branch = "lwshang/switch_transport"
#rev = "8b8699d5ba757f9a9952a3a6ded9956df6b129b0"

[patch.crates-io.ic-utils]
version = "0.2.0"
git = "https://github.com/dfinity/agent-rs.git"
branch = "lwshang/switch_transport"
#rev = "8b8699d5ba757f9a9952a3a6ded9956df6b129b0"
