[workspace]
members = [
    "src/dfx",
]

[patch.crates-io.ic-agent]
version = "0.1.0"
git = "https://github.com/dfinity/agent-rs.git"
branch = "es-1126-der-encode-sender-pubkey"
rev = "75fa723e6d7f6a43c2dce4c6a01d531fe427c407"

[patch.crates-io.ic-types]
version = "0.1.2"
git = "https://github.com/dfinity/agent-rs.git"
branch = "es-1126-der-encode-sender-pubkey"
rev = "75fa723e6d7f6a43c2dce4c6a01d531fe427c407"

[patch.crates-io.ic-utils]
version = "0.1.0"
git = "https://github.com/dfinity/agent-rs.git"
branch = "es-1126-der-encode-sender-pubkey"
rev = "75fa723e6d7f6a43c2dce4c6a01d531fe427c407"
