[package]
name = "dfx"
version = "0.1.0"
authors = ["DFINITY Team"]
edition = "2018"
build = "assets/build.rs"

[[bin]]
name = "dfx"
path = "src/main.rs"

[build-dependencies]
tar = "0.4.26"
flate2 = "1.0.11"

[dependencies]
clap = "2.33.0"
console = "0.7.7"
failure = "0.1.5"
flate2 = "1.0.11"
gotham = "0.4.0"
hyper = "0.12.33"
indicatif = "0.11.0"
rand = "0.7.0"
regex = "1.2.1"
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0.40"
serde_json = "1.0.40"
tar = "0.4.26"
