[package]
name = "dfx"
version = "0.100.2"
authors = ["DFINITY Team"]
edition = "2018"
build = "assets/build.rs"

[[bin]]
name = "dfx"
path = "src/main.rs"

[build-dependencies]
tar = "0.4.26"
flate2 = "1.0.11"

[dependencies]
clap = "2.33.0"
console = "0.7.7"
flate2 = "1.0.11"
futures = "0.1.28"
gotham = "0.4.0"
hyper = "0.12.33"
indicatif = "0.11.0"
notify = "4.0.13"
rand = "0.7.0"
regex = "1.2.1"
reqwest = "0.9.20"
serde = "1.0"
serde_bytes = "0.11.2"
serde_cbor = "0.10.1"
serde_derive = "1.0.40"
serde_json = "1.0.40"
serde_repr = "0.1.5"
tar = "0.4.26"
tokio = "0.1"
wabt = "0.7.4"

[dev-dependencies]
env_logger = "0.6"
mockito = "0.20.0"
