[package]
name = "dfx"
version = "0.6.8"
authors = ["DFINITY Team"]
edition = "2018"
build = "assets/build.rs"

[[bin]]
name = "dfx"
path = "src/main.rs"

[build-dependencies]
flate2 = "1.0.11"
tar = "0.4.26"

[dependencies]
actix = "0.9.0"
actix-cors = "0.2.0"
actix-files = "0.2.2"
actix-server = "1.0.3"
actix-web = { version = "2.0.0", features = [ "default", "openssl", "rustls" ] }
atty = "0.2.13"
base64 = "0.11.0"
candid = { git = "ssh://git@github.com/dfinity/candid.git", branch = "master" }
chrono = "0.4.9"
clap = "2.33.0"
console = "0.7.7"
crossbeam = "0.7.3"
delay = "0.2.0"
dialoguer = "0.6.2"
erased-serde = "0.3.10"
flate2 = "1.0.11"
futures = "0.3.5"
hex = "0.4.2"
indicatif = "0.13.0"
lazy-init = "0.3.0"
lazy_static = "1.4.0"
libflate = "0.1.27"
hotwatch = "0.4.3"
humanize-rs = "0.1.5"
mockall = "0.6.0"
pem = "0.7.0"
petgraph = "0.5.0"
rand = "0.7.2"
regex = "1.3.1"
ring = "0.16.11"
reqwest = { version = "0.10.4", features = [ "blocking", "json", "rustls-tls" ] }
semver = "0.9.0"
serde = "1.0"
serde_bytes = "0.11.2"
serde_cbor = "0.11.1"
serde_json = "1.0.57"
serde_repr = "0.1.5"
shell-words = "1.0.0"
signal-hook = "0.1.13"
slog = { version = "2.5.2", features = ["max_level_trace"] }
slog-async = "2.4.0"
slog-term = "2.5.0"
sysinfo = "0.9.6"
tar = "0.4.26"
tempfile = "3.1.0"
thiserror = "1.0.20"
toml = "0.5.5"
tokio = "0.2.10"
url = "2.1.0"
walkdir = "2.2.9"
wasmparser = "0.45.0"

[dependencies.ic-agent]
version = "0.1.0"
git = "ssh://git@github.com/dfinity-lab/agent-rust.git"
branch = "next"
rev = "9d611f08cb55923fc6ff5bf0136e8f4b848dd2cc"

[dependencies.ic-types]
version = "0.1.1"
git = "ssh://git@github.com/dfinity-lab/agent-rust.git"
branch = "next"
rev = "9d611f08cb55923fc6ff5bf0136e8f4b848dd2cc"


[dev-dependencies]
env_logger = "0.6"
proptest = "0.9.5"
mockito = "0.27.0"
tempfile = "3.1.0"
