build_info.json
node_modules/
dist/
**/*.js
**/*.js.map
**/*.d.ts

# Cannot ignore candid.js, the last bastion of JS code in our app.
!src/candid/candid.js

# Cannot ignore .d.ts files in types/
!types/**/*.d.ts

# Cannot ignore setup files for webpack and jest, which are still JavaScript.
!webpack.config.js
!jest.config.js
!test-setup.js
