name: License Check

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  cargo-deny:
    name: license-check:required
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: EmbarkStudios/cargo-deny-action@v1
        with:
          command: check bans licenses sources # skip advisories, which are handled by audit.yml
