name: e2e
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build_dfx:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-11, ubuntu-20.04]
        rust: ["1.60.0"]
        binary_path: ["target/release"]
    steps:
      - uses: actions/checkout@v1
      - name: Cache Cargo
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-${{ matrix.rust }}-1
      - name: Install Rust
        run: |
          rustup update ${{ matrix.rust }} --no-self-update
          rustup default ${{ matrix.rust }}
          rustup component add rustfmt
      - name: Build
        # note: since there is no 'cargo clean' here, the results of scripts/prepare-dfx-assets.sh
        # are often cached.
        run: cargo build --locked --release
        env:
          OPENSSL_STATIC: yes
      - name: Strip binaries
        run: |
          cd ${{ matrix.binary_path }}
          sudo chown -R $(whoami) .
          strip dfx
        if: contains(matrix.os, 'ubuntu')
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dfx-${{ matrix.os }}-rs-${{ matrix.rust }}
          path: ${{ matrix.binary_path }}/dfx

  list_tests:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v1
      - id: set-matrix
        run: echo "::set-output name=matrix::$(scripts/workflows/e2e-matrix.py)"

  smoke:
    runs-on: ${{ matrix.os }}
    needs: build_dfx
    strategy:
      fail-fast: false
      matrix:
        backend: ["ic-ref", "replica"]
        # macos-latest is currently macos-11 ubuntu-latest is currently ubuntu-20.04
        # ubuntu-18.04 not supported due to:
        #     /home/runner/.cache/dfinity/versions/0.8.3-34-g36e39809/ic-starter:
        #     /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.29' not found
        os: [macos-11, ubuntu-20.04]
        rust: ["1.60.0"]
    steps:
      - uses: actions/checkout@v1
      - name: Download dfx binary
        uses: actions/download-artifact@v2
        with:
          name: dfx-${{ matrix.os }}-rs-${{ matrix.rust }}
          path: /usr/local/bin
      - name: Setup dfx binary
        run: chmod +x /usr/local/bin/dfx
      - name: start and deploy
        run: |
          pwd
          time dfx cache install
          time dfx new smoke
          cd smoke
          if [ "${{ matrix.backend}}" = "ic-ref" ]; then
              time dfx start --emulator --background
          else
              time dfx start --background
          fi
          time dfx deploy
          time dfx canister call smoke_backend greet '("fire")'
          time dfx stop

  test:
    runs-on: ${{ matrix.os }}
    needs: [build_dfx, list_tests]
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list_tests.outputs.matrix)}}
    env:
      E2E_TEST: tests-${{ matrix.test }}.bash
    steps:
      - uses: actions/checkout@v1
      - name: Download dfx binary
        uses: actions/download-artifact@v2
        with:
          name: dfx-${{ matrix.os }}-rs-${{ matrix.rust }}
          path: /usr/local/bin
      - name: Setup dfx binary
        run: chmod +x /usr/local/bin/dfx
      - name: Provision Darwin
        if: contains(matrix.os, 'macos')
        run: bash scripts/workflows/provision-darwin.sh
      - name: Provision Linux
        if: contains(matrix.os, 'ubuntu')
        run: bash scripts/workflows/provision-linux.sh
      - name: Prepare environment
        run: |
          echo "archive=$(pwd)/e2e/archive" >> "$GITHUB_ENV"
          echo "assets=$(pwd)/e2e/assets" >> "$GITHUB_ENV"
          echo "utils=$(pwd)/e2e/utils" >> "$GITHUB_ENV"
          if [ "${{ matrix.backend }}" == "ic-ref" ]; then
              echo "USE_IC_REF=1" >> "$GITHUB_ENV"
          fi
          export
      - name: Run e2e test
        run: timeout 1800 bats "e2e/$E2E_TEST"

  aggregate:
    name: e2e:required
    if: ${{ always() }}
    needs: [test, smoke]
    runs-on: ubuntu-latest
    steps:
      - name: check smoke test result
        if: ${{ needs.smoke.result != 'success' }}
        run: exit 1
      - name: check e2e test result
        if: ${{ needs.test.result != 'success' }}
        run: exit 1
